
.egg {
    position: absolute;
}

.egg11 {
top: 95px;
left: 46px;
}
.egg12 {
top: 118px;
left: 71px;
}
.egg13 {
top: 138px;
left: 95px;
}
.egg14 {
top: 163px;
left: 121px;
}

.egg15 {
top: 204px;
left: 183px;
}

.egg21 { 
top: 99px;
left: 717px;
}
.egg22 {
top: 118px;
left: 696px;
}
.egg23 { 
top: 138px;
left: 669px;
}
.egg24 {
top: 163px;
left: 641px;
}

.egg25 {
top: 204px;
left: 600px;
}
.egg31 {
top: 260px;
left: 41px;
}
.egg32 {
top: 281px;
left: 71px;
}
.egg33 {
top: 301px;
left: 95px;
}
.egg34 {
top: 323px;
left: 116px;
}

.egg35 {
top: 375px;
left: 157px;
}
.egg41 {
top: 260px;
left: 722px;
}
.egg42 {
top: 276px;
left: 700px;
}
.egg43 {
top: 300px;
left: 674px;
}
.egg44 {
top: 319px;
left: 650px;
}

.egg45 {
top: 386px;
left: 594px;
}

.cracked-egg-right {
top: 437px;
left: 534px;
}

.cracked-egg-left {
top: 437px;
left: 144px;
}