body {
    padding: 0px;
    margin: 0px;
    display: block;
    
}
  
/* canvas {
    border: 1px solid #ccc;
    margin: 0 auto;
    display: block;
} */
  
.game__bg {
  /* background-image: url(/assets/Static.png);
  background-position: center;
  background-size: contain; */
  z-index: -100;
  position: absolute;
  
  width: 800px;
  height: 600px;
  background-color: #ddd;
}

.hidden {
  display: none;
}

.egg {
  position: absolute;
}

.egg11 {
  top: 95px;
  left: 46px;
}
.egg12 {
  top: 118px;
  left: 71px;
}
.egg13 {
  top: 138px;
  left: 95px;
}
.egg14 {
  top: 163px;
  left: 121px;
}

.egg15 {
  top: 204px;
  left: 183px;
}

.cracked-egg-left {
  top: 437px;
  left: 144px;
}

.wolf1 {
left: 150px;
}
.wolf2 {
  left: 300px;
}
.wolf3 {
  left: 100px;
}
.wolf4 {
  left: 300px;
}

.game__wolf {
  position: absolute;
  top: 130px;
}
