body {
    padding: 0px;
    margin: 0px;
    display: block;
}



/* canvas {
    border: 1px solid #ccc;
    margin: 0 auto;
    display: block;
} */
  
.game__bg {
  /* background-image: url(/assets/Static.png);
  background-position: center;
  background-size: contain; */
  z-index: -100;
  position: absolute;
  
  width: 800px;
  height: 600px;
  background-color: #ddd;
}

.hidden {
  display: none;
}

.show {
  display: block !important;
}

.wolf1 {
left: 150px;
}
.wolf2 {
  left: 300px;
}
.wolf3 {
  left: 100px;
}
.wolf4 {
  left: 300px;
}

.game__wolf {
  position: absolute;
  top: 130px;
}
